<div id="footer" class="content">
	<h5>&copy 2013 Twitter</h5>
	<p><a href="/about">About</a> | <a href="/faq">Faq</a> | <a href="/help">Help</a> | <a href="/docs/README.md.html" target="_blank">Documentation</a></p>
</div>