<div class="content noPadding">
	<ul class="linkList">
		<li<% if (func === "about") { %> class="active"<% } %>><a href="/about">About</a></li>
		<li<% if (func === "faq") { %> class="active"<% } %>><a href="/faq">FAQ</a></li>
		<li<% if (func === "help") { %> class="active"<% } %>><a href="/help">Help</a></li>
		<li><a href="/docs/README.md.html" target="_blank">Documentation</a></li>
	</ul>
</div>