<% layout('../../template') -%>

<div id="leftCol" class="left">
	<%- include ../../includes/profileSidebar.ejs %>
	<%- include ../../includes/footer.ejs %>
</div>
<div id="rightCol" class="right">
	<div class="content">
		<div id="data">
			<h2>Messages</h2>
			<ul id="inbox"></ul>
		</div>
	</div>
</div>
<div class="clearfix">&nbsp;</div>