<% layout('../../template') -%>


<div id="leftCol" class="left">
	<div class="content noPadding">
		<ul class="linkList">
			<li><a href="/connect">Interactions</a></li>
			<li><a href="/mentions">Mentions</a></li>
		</ul>
	</div>
	<div class="content">
		<h4><a href="/who_to_follow">Who To Follow...</a></h4>
	</div>
	<div class="content">
		<h4>Trends</h4>
	</div>
	<%- include ../../includes/footer.ejs %>
</div>
<div id="rightCol" class="right">
	<div class="content">
		<div id="data">
			<h2>Settings</h2>
			<p>User settings go here.</p>
		</div>
	</div>
</div>
<div class="clearfix">&nbsp;</div>