<% layout('template') -%>
<div id="leftCol" class="left">
	<div id="profile" class="content profileGlance">
		<p><a href="/profile"><img src="img/Marco_Chiang.jpeg" width="32" height="32" class="left" />Marco Chiang<br /><span>View my profile page</span></a></p>
		<ul id="stats">
			<li><a href="/profile">76<br /><span>TWEETS</span></a></li>
			<li><a href="/following">103<br /><span>FOLLOWING</span></a></li>
			<li><a href="/followers">9001<br /><span>FOLLOWERS</span></a></li>
		</ul>
		<div class="clearfix">&nbsp;</div>
		<form id="tweet">
			<textarea class="tweetExpand" id="newTweet" name="newTweet"
			onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">Compose a new tweet...</textarea>
			<input class="tweetButton" id="tweetButton" type="image" src="img/Tweet_Focus_Out.jpg" name="tweetButton"/>
		</form>
		<div class="clearfix"></div>
	</div>
	<div id="footer" class="content">
		<h5>&copy 2013 Twitter</h5> 
		<p><a href="/about">About</a> | <a href="/faq">Faq</a> | <a href="/help">Help</a> | <a href="/docs/README.md.html">Documentation</a></p>
	</div>
</div>
<div id="rightCol" class="right">
	<div class="content">
		<h3>Tweets</h3>
		<p>
			<ul id="tweet" style="list-style: none;"></ul>
		</p>
	</div>
</div>
<div class="clearfix">&nbsp;</div>