<% layout('template') -%>
<div id="leftCol" class="left">
	<%- include includes/profileSidebar.ejs %>
	<%- include includes/footer.ejs %>
</div>
<div id="rightCol" class="right">
	<div class="content">
		<h3>Tweets</h3>
		<p>
			<ul id="tweets" style="list-style: none;"></ul>
		</p>
	</div>
</div>
<div class="clearfix">&nbsp;</div>