<% layout('template') -%>
<div id="home">
	<a href="/profile"><img src="img/Marco_Chiang.jpeg"></br>Marco Chiang </br>View my profile page</br></br></a>
	
<li><a href="/tweets">TWEETS</a></li>
<li><a href="/following">FOLLOWING</a></li>
<li><a href="/followers">FOLLOWERS</a></li></br>

<textarea class="expand" rows="2" cols="20">Compose new Tweet...</textarea>
<button class="show_hide">Tweet</button>

</div>

<div id="who_to_follow">
</div>

<div id="trends">
</div>

<div id="footer">
</div>