<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet/less" href="/css/styles.less" />
	<script src="/js/less-1.3.3.min.js" type="text/javascript"></script>
  </head>
  <body>
  	<div id="pageContainer" style="margin:0px auto 0px auto; width:960px;">
	  	<header id="pageHeader" style="margin:0px auto 0px auto; width:960px; height:82px; position:relative;">
	  		<h2><%= title %></h2>
		  	<nav>
				<a href="/">Home</a> | 
				<a href="/users/i/connect">Connect</a> | 
				<a href="/users/i/discover">Discover</a> | 
				<a href="/users/i/profile">Me</a>
				<input type="text" name="search"> &nbsp; <input type="button" value="Search">
				<input type="button" value="Settings/Sign out">
				<input type="button" value="New Tweet">
			</nav>
		</header>
	    <div id="main">
			<%- body -%>
		</div>
	</div>
	<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
</body>
</html>