@width: 960px;
@blue: #4aaec6;
@lightGrey: #f5f5f5;
@grey: #ccc;
@greyer: #888;
@dark: #252525;

.ir {background-color: transparent;border: 0;overflow: hidden;*text-indent: -9999px;}
.ir:before {content: "";display: block;width: 0;height: 100%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.invisible {visibility: hidden;}
.clearfix:before, .clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.wrapper {width: @width;margin: 0 auto;}
.reset {margin: 0;padding: 0;}
.left {float: left;} .right {float: right;}
.txtLeft {text-align: left;} .txtCenter {text-align: center;} .txtRight {text-align: right;}

.transition(@property: color) {
	transition: @property .25s ease-in;
	-moz-transition: @property .25s ease-in;
	-webkit-transition: @property .25s ease-in;
	-o-transition: @property .25s ease-in;
}

.borderRadius(@size: 5px) {
	-webkit-border-radius: @size;
	-moz-border-radius: @size;
	border-radius: @size;
}

.boxShadow(@shadow: 0 0 3px 3px @grey) {
	-moz-box-shadow: @shadow;
	-webkit-box-shadow: @shadow;
	box-shadow: @shadow;
}

.opacity(@decimal: 1) {
	opacity: @decimal;
}

.backgroundGradient(@color1: #fff, @color2: #eee) {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, @color1), color-stop(1, @color2));
	background:-moz-linear-gradient( center top, @color1 5%, @color2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2');
	background-color: @color1;
}


/* ==========================================================================
   Generic Setup
   ========================================================================== */


	*, html, body {.reset;}
	html, button, select, textarea {color: @grey;}
	body#template {background: #C0DEED url("../img/body.jpg") repeat-x 0 0;color: @dark;font-size: 1em;line-height: 1.4;font: 15px/22px "Open Sans", Helvetica, Helvetica Neue, Arial, sans-serif;}
	hr {display: block;height: 1px;border: 0;border-top: 1px solid #fff;border-bottom: 1px solid @grey;margin: 1.5em 0;padding: 0;}
	img {vertical-align: middle;}
	fieldset {border: 0;.reset;}
	h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans Condensed', sans-serif;}
	a {color: @blue;.transition;} a:hover {color: @dark;}
	input[type="text"], input[type="password"], textarea {
		padding: 5px;background: #f5f5f5;color: @greyer;border: 1px solid @grey;
		&:focus {background: #fff;color: @dark;}
	}
	input[type="submit"], input[type="reset"], button {padding: 8px;color: @dark;}


/* ==========================================================================
   Template Styles
   ========================================================================== */


#site {
   	header#header {
   		position: fixed;width: 100%;height: 50px;background: url("../img/nav.jpg") repeat-x 0 0;z-index: 100;
   		hgroup {
   			.hidden;
   			h1#title {color: #fff;}
   			h2#slogan {.hidden;}
   		}
   		nav {
   			ul {
   				list-style-type: none;.reset;
				li, li a {color: #fff;text-decoration: none;font-size: 13px;text-shadow: 1px 1px #000;text-transform: uppercase;}
   				li {
   					width: auto;.left;padding: 0 1em;
   					a {
						display: block;height: 35px;padding: 15px 0 0 32px;background-image: url("../img/navIcons.png");background-repeat: no-repeat;.opacity(.6);.transition(opacity);
						&:hover, &.active {.opacity(1);}
					}
					&.home a {background-position: 0 0;}
					&.connect a {background-position: 0 -50px;}
					&.discover a {background-position: 0 -100px;}
					&.me a {background-position: 0 -150px;}
					&.login a {background-position: 0 -200px;}
					&.register a {background-position: 0 -250px;}
					&.session.right {
						.right;padding: 13px 1em;
						span.gear {
							display: block;width: 24px;height: 24px;background: url("../img/gear.png") no-repeat 0 0;text-indent: -9999px;.transition(opacity);.opacity(.6);
						}
						ul {
							display: none;position: absolute;
						}
						&.active {
							background: url("../img/arrow.png") no-repeat center bottom;border-left: none;border-right: none;
							span.gear {.opacity(1);}
							ul {
								display: block;top: 50px;width: 250px;margin: 0 0 0 -120px;padding: 0 8px 8px 8px;background: url("../img/opaque.png") repeat 0 0;
								li {
									.reset;float: none;text-indent: 0;border-bottom: 1px solid #eee;
									a {
										height: auto;padding: .8em 0;.txtCenter;color: @greyer;text-shadow: 1px 1px #fff;border-top: 1px solid #fff;background-image: none;background-color: #fff;.opacity(1);.transition(color);
										&:hover {color: @dark;}
									}
									&.active {
										background-image: none;border-left: none;border-right: none;
										a {color: @dark;}
									}
								}
							}
						}
						&:hover {
							cursor: hand;cursor: pointer;
							span.gear {.opacity(1);}
						}
					}
					&.active {
						background: url("../img/navActive.jpg") repeat-x 0 0;border-left: 1px solid @dark;border-right: 1px solid @dark;
						a {.opacity(1);}
					}
   				}
   			}
		}
	}
	#headerClear {height: 50px;}
	#main {
		position: relative;width: 920px;margin: 0 auto;padding: 0 20px 20px 20px;background: url("../img/opaque.png") repeat 0 0;z-index: 50;
		#leftCol {width: 280px;} #rightCol {width: 620px;}
		.content {

			margin: 1em 0 0 0;padding: 1em;background: #fff url("../img/content.jpg") repeat-x 0 top;border-top: 1px solid #fff;.borderRadius;
			&.noPadding {padding: 0;}
			p, li {margin: 1em 0;}
			ul, ol {margin: 0 0 0 40px;}
			.linkList {
				.reset;list-style-type: none;
				li {
					.reset;border-bottom: 1px solid @grey;
					a {display: block;padding: 10px 20px;text-decoration: none;}
					&.active a {color: @dark;}
					&:last-child {
						border-bottom: none;
					}
				}
			}

			/* HOME PAGE */
			#tweets {
				.reset;
				li {
					padding: 1em;border: 1px solid @grey;.transition(background);.borderRadius;
					span {
						&.user {.left;font-weight: bold;}
						&.date {.right;color: @greyer;font-size: 11px;}
						&.tweet {}
					}
					&:hover {
						background: @lightGrey;
					}
				}
			}

			&.profile {
				&.profileGlance {
					ul.stats li:first-child {padding: .5em 1em .5em 0;}
				}
				#carbon {
					height: 80px;padding: 40px;background: url("../img/carbon.jpg") repeat-x 0 0;.txtCenter;color: #fff;text-shadow: 1px 1px #000;.borderRadius;
					p {border: none;}
				}
				p {
					line-height: 16px;font-size: 14px;margin: 0;padding: 0 0 .5em 0;border-bottom: 1px solid @grey;
					a {
						color: @dark;font-weight: bold;text-decoration: none;
						img {margin: 0 .5em 0 0;.borderRadius;}
						span {color: @greyer;font-size: 12px;font-weight: normal;}
						&:hover {color: @blue;}
					}
				}
				ul.stats {
					.reset;list-style-type: none;
					li {
						line-height: 16px;font-size: 12px;margin: 0;padding: .5em 1em;border-right: 1px solid @grey;.left;
						a {
							color: @dark;font-weight: bold;text-decoration: none;
							span {color: @greyer;text-transform: uppercase;}
							&:hover {color: @blue;}
						}
						&.active a {color: @blue;}
						&:last-child {padding: .5em 0 .5em 1em;border-right: none;}
					}
				}
				form {
					margin: 1em 0 0 0;
					#newTweet {
						width: 230px;height: 16px;padding: .5em;background: #fff;border: 1px solid @grey;color: @greyer;resize: none;
						&:focus {color: @dark;}
					}
					#tweetButton{.right;margin: .5em 5px 0 0;}
				}
			}

			/* FOOTER */
			&#footer {
				p {
					.reset;font-size: 12px;
				}
			}
		}
	}

	footer#footer {
		margin-top: 1em;margin-bottom: 3em;
		p {.txtCenter;color: #868889;}
	}

	.tweet_posted {
		display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: url("../img/opaqueDark.png") repeat 0 0;z-index: 500;
		h1 {position: fixed;width: 100%;top: 25%;color: #fff;font-size: 250%;text-shadow: 4px 4px 2px #000;text-transform: uppercase;.txtCenter;}
	}
}

#skeleton {
	padding: 5em;
	h1, h2, h3, h4, h5, h6, p, li {color: @dark;}
}
