<% layout('../template') -%>
<div class="content">
	<h2>About Page</h2>
	<p>
	Twitter.com is a social networking and microblogging service. At the heart of the operation is the tweet, which is a 140 character text message. Twitter connects you to the latest news, conversations, stories, and ideas. The best part is that you only see information that interests you. All that is required is an account and you can start following your favorite people, topics, and trends.
	</p>
</div>