<% layout('../template') -%>
<div class="content">
	<h1>Get to Know Twitter: New User FAQ</h1>    
	<h3>What is Twitter?</h3>
	<p>Twitter is a service for friends, family, and co–workers to communicate and stay connected through the exchange of quick, frequent messages. People write short updates,<span> often called "Tweets" of 140 characters or fewer. These messages are posted to your profile, sent to your followers, and are searchable on Twitter search.</span></p>
</div>