<% layout('../template') -%>
		    	<div>
			    	<ul>
			    		<li><a href="/users/i/discover">Tweets</a></li>
			    		<li><a href="/activity">Activity</a></li>
			    		<li><a href="/who_to_follow">Who To Follow</a></li>
			    		<li><a href="/find_friends">Find Friends</a></li>
			    		<li><a href="/browse_categories">Browse Categories</a></li>
			    	</ul>
			    </div>
			    <div>
		    	<h3>Who To Follow..</h3>
		    	</div>
		    	<div>
		    	<h3>Trends..</h3>
		    	</div>
		    </div>