<% layout('../template') -%>
<div id="content">
	<h1>Welcome! How can we help you?</h1>
	<p>Twitter basics</p>
	<p>Something's not working</p>
	<p>Report Abuse or Policy Violations</p>
	<p>Support</p>
</div>