<% layout('../template') -%>
<div id="leftCol" class="left">
	<%- include ../includes/profileSidebar.ejs %>
	<%- include ../includes/loginRegisterList.ejs %>
	<%- include ../includes/staticSidebar.ejs %>
	<%- include ../includes/footer.ejs %>
</div>
<div id="rightCol" class="right">
	<div class="content">
		<h2>Welcome! How can we help you?</h2>

		<ul>
			<li><a href="#basics">Twitter basics</a></li>
			<li><a href="#uhoh">Something's not working</a></li>
			<li><a href="#report">Report Abuse or Policy Violations</a></li>
			<li><a href="#support">Support</a></li>
		</ul>

		<hr />

		<a name="basics"></a>
		<h3>Twitter basics</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		<a name="uhoh"></a>
		<h3>Something's not working</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		<a name="report"></a>
		<h3>Report Abuse or Policy Violations</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

		<a name="support"></a>
		<h3>Support</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
</div>
<div class="clearfix">&nbsp;</div>
