<% layout('../template') -%>
<div id="content"> <!-- Should be floated left-->
	<div>
		<ul>
			<li><a href="/connect">Interactions</a></li>
			<li><a href="/mentions">Mentions</a></li>
		</ul>
	</div>
	<div id="who_to_follow">
	<h3>Who To Follow..</h3>
	</div>
	<div id="trends">
	<h3>Trends..</h3>
	</div>
	<div id="footer">
	</div>
</div>
</br></br>
<div>
	<div id="data">
		<%- data %>
	</div>
</div>