<% layout('../template') -%>
<div id="leftCol" class="left">
	<div class="content noPadding">
		<ul class="linkList">
			<li><a href="/connect">Interactions</a></li>
			<li><a href="/mentions">Mentions</a></li>
		</ul>
	</div>
	<div class="content">
		<h4>Who To Follow...</h4>
	</div>
	<div class="content">
		<h4>Trends</h4>
	</div>
</div>
<div id="rightCol" class="right">
	<div class="content">
		<div id="data">
			<%- data %>
		</div>
	</div>
</div>
<div class="clearfix">&nbsp;</div>