<% layout('../template') -%>
<div id="content"> <!-- Should be floated left-->
	<div>
		<ul>
			<li><a href="/discover">Tweets</a></li>
			<li><a href="/activity">Activity</a></li>
			<li><a href="/who_to_follow">Who To Follow</a></li>
			<li><a href="/find_friends">Find Friends</a></li>
			<li><a href="/browse_categories">Browse Categories</a></li>
		</ul>
	</div>
	<div id="who_to_follow">
	<h3>Who To Follow..</h3>
	</div>
	<div id="trends">
	<h3>Trends..</h3>
	</div>
	<div id="footer">
	</div>
</div>
</br></br>
<div>  <!-- Should be floated right -->
	<div id="data">
		Tweets will go here..
	</div>
</div>