<% layout('../template') -%>

<div id="leftCol" class="left">
	<div class="content noPadding">
		<ul class="linkList">
			<li><a href="/discover">Tweets</a></li>
			<li><a href="/activity">Activity</a></li>
			<li><a href="/who_to_follow">Who To Follow</a></li>
			<li><a href="/find_friends">Find Friends</a></li>
			<li><a href="/browse_categories">Browse Categories</a></li>
		</ul>
	</div>
	<div class="content">
		<h4>Who To Follow...</h4>
	</div>
	<div class="content">
		<h4>Trends</h4>
	</div>
	<div id="footer" class="content">
		<h5>&copy 2013 Twitter</h5> 
		<p><a href="/about">About</a> | <a href="/faq">Faq</a> | <a href="/help">Help</a> | <a href="/docs/README.md.html">Documentation</a></p>
	</div>
</div>
<div id="rightCol" class="right">
	<!--<div class="content">
		<h3>Tweets</h3>
		<div id="data">
			<p>Tweets will go here...</p>
		</div>
	</div>-->
	<div class="content">
		<div id="data">
			<%- data %>
		</div>
	</div>
</div>
<div class="clearfix">&nbsp;</div>