<% layout('../template') -%>

<div id="leftCol" class="left">
	<%- include ../includes/loginRegisterList.ejs %>
	<%- include ../includes/footer.ejs %>
</div>
<div id="rightCol" class="right">
	<div class="content">
		<h2>User Login</h2>
		<p><em><%= message %></em></p>
		<form action="/login/auth" method="post">
			<p><label for="user">Username:</label><br />
			<input type="text" name="user" id="user" /></p>
			<p><label for="pass">Password:</label><br />
			<input type="password" name="pass" id="pass" /></p>
			<p><input type="submit" value="Login" name="q" /></p>
		</form>
		<p>New to Twitter? <a href="/register">Sign Up</a></p>
	</div>
</div>
<div class="clearfix">&nbsp;</div>