<h3>Who To Follow</h3>

<ul class="linkList">
  <li><a href="/show_user/Marco">Marco</a></li>
  <li><a href="/show_user/Jeff">Jeff</a></li>
  <li><a href="/show_user/Matt">Matt</a></li>
  <li><a href="/show_user/Jon">Jon</a></li>
</ul>
